body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    margin-right: 20px; /* Adjust the margin as needed */
}

.logo {
    max-height: 50px;
}

.back-button {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.main-heading {
    text-align: center;
    font-size: 45px;
}
h2 {
    color: cornflowerblue;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
}
